.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.img-fluid{
    height: 400px;
}
@media screen and (max-width:500px) {
    .grid{
      display: block;
    }  
    .img-fluid{
        height: 300px;
    }  
}