.card-img-top{
    height: 250px;
}

.chefs .card{
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.overley{
    position: relative;
    width: 100%;
    top: 450px;
    left: 0;
    background: linear-gradient(to bottom right, #5cdaf1, #ef47b9, #5af0d2);
    z-index: -1;
    border-radius: 5px;
    transition: .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.chefs .card:hover .overley{
   position: absolute;
   height: 100%;
   top: 0;
}
.chefInfo .card:hover{
   transform: scale(1.05);
}
.chefInfo .card-group:hover .card-body{
    color: #fff;
}