.active{
    color: blueviolet;
    text-decoration: underline;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
}
.img-fluid{
    height: 400px;
}
footer{
    margin-top: 100px;
}
form{
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    
}
nav a {
    color: #fff;
    text-decoration: none;
}
.rounded-circle {
    margin: 20px;
    width: 50px;
}
.grid-blog{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.pdf{
    position: absolute;
    background-color: rgba(132, 20, 40, 0.733);
    color: #fff;
    top: 73px;
    left: 171px;
}
@media screen and (max-width:500px) {
    .grid{
      display: block;
    }  
    .img-fluid{
        height: 300px;
    }  
    .card{
        height: auto;
    }
    .chefs{
        padding: 10px;
    }
    .container{
        flex-direction: column;
    }
}